@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

/* Global styles */
body {
    color: #414141;
    font-size: 1rem;
    font-weight: 300;
    min-height: 100vh;
    display: flex;
}

li {
    list-style: none;
}

/* Header container */
header {
    width: 25%;
    max-width: 18.75rem;
    background-color: #f9f9f9;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100vh;
    position: fixed;
}

/* Logo */
.logo-alpha {
    max-width: 100%;
    padding: 30px;
}

.logo-alpha img {
    width: 100%;
    object-fit: contain;
}

/* Navbar */
.nav-container {
    padding: 30px;
    padding-left: 0;
    line-height: 3rem;
}

.main-menu-item {
    margin-bottom: 15px;
    transition: .2s ease;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.main-menu-item a,
.dropdown-menu-link {
    text-decoration: none;
    color: #414141;
    width: 100%;
    display: block;
    padding: 8px 15px 10px 25px;
}

.main-menu-item>a,
.dropdown-menu-link {
    font-size: 1.2rem;
}

.dropdown-menu-link {
    cursor: pointer;
    transition: color .2s ease;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
}

.dropdown-menu-link i {
    margin-left: 60px;
    transition: transform .4s ease;
    -webkit-transition: transform .4s ease;
    -moz-transition: transform .4s ease;
    -ms-transition: transform .4s ease;
    -o-transition: transform .4s ease;
}

.submenu {
    padding-left: 15px;
    display: none;
}

.dropdown-menu-link .submenu a {
    padding: 0 15px 0 25px;
    transition: color .2s ease;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
}

.main-menu-item:active,
.main-menu-item:hover {
    background-color: white;
}

.active {
    color: #EFA054;
    background-color: white;
}

.nav-container li a:hover,
.dropdown-menu-link:hover {
    color: #EFA054;
}

.rotate-180 {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}