{% extends "base_admin.html" %}

{% block content %}

<div class="content-header">
    <a class="profile-link transition" href=""><i class="fa-solid fa-user"></i> {{name}}</a>

    <h1 class="page-title">événements</h1>
</div>

<ul class="events-list">
    {% for event in events %}
    <li class="event">

        <div class="event-details">
            <div class="fields">
                <span class="editable-field field" data-event-id="{{ event.id }}">
                    <span class="label">Date : </span> {{ event.date }}
                </span>
                <span class="remaining-places-info field"><span class="label">places restantes : </span> {{
                    calculate_remaining_places(event.id) }}</span>
                <span class="editable-field field" data-event-id="{{ event.id }}">
                    <span class="label">Capacité : </span> {{ event.capacity }}
                </span>
                <span class="editable-field field" data-event-id="{{ event.id }}">
                    <span class="label">Début : </span> {{ event.start_time }}
                </span>
                <span class="editable-field field" data-event-id="{{ event.id }}">
                    {% if event.duration is not none and event.duration|length > 0 %}
                    <span class="label">Durée : </span> {{ event.duration }}
                    {% else %}
                    <span class="label">Durée : </span>
                    {% endif %}
                </span>
                <select class="status" name="status" data-event-id="{{ event.id }}">
                    <option class="current-status" value="{{ event.status }}" disabled selected>
                        {% if event.status == "ferme" %}
                        fermé
                        {% elif event.status == "annule" %}
                        annulé
                        {% else %}
                        {{ event.status }}
                        {% endif %}
                    </option>
                </select>
            </div>

            <div class="edit-buttons">
                <button class="edit transition"><i class="fa-solid fa-pen transition"></i></button>
                <button class="menu-btn transition" data-menu-id="menu-{{ event.id }}"><i
                        class="fa-solid fa-ellipsis-vertical transition"></i></button>

            </div>
        </div>


    </li>
    <div id="menu-{{ event.id }}" class="dropdown-menu">
        <ul>
            <li class="dropdown-item"><a class="button transition" href="/participants/{{ event.id }}">Voir les
                    participants <i class="fa-solid fa-user-group transition"></i></a></li>
            <!--<li class="dropdown-item"><button data-event-id="{{ event.id }}">Annuler <i
                        class="fa-solid fa-ban"></i></button></li>-->
            <li class="dropdown-item"><button class="transition" data-event-id="{{ event.id }}"
                    class="delete-button">Supprimer <i class="fa-solid fa-trash-can transition"></i></button></li>

        </ul>
    </div>
    {% endfor %}
</ul>
<div id="confirmation-message">
    <div class="inner-block">
        <p>L'événement a été supprimé avec succès.</p>
    </div>
</div>

{% endblock %}